.login .m-header {
    background: #fff;
  
    height: 56px;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #fff, #fff);
  }
  .login .mint-header-title {
    font-size: 22px;
    color: #f89a43;
  }
  .login .mint-header-button.is-right {
    color: #8f8f8f;
    text-align: center;
  }
  .login .logo {
    margin: 0 auto;
    width: 300px;
    height: 195px;
  }
  .login .mint-button {
    height: 50px;
    border-radius: 30px;
  }
  .login .btn {
    background:rgb(251, 251, 251);
    border:1px solid #8f8f8f;
    color:#8f8f8f
  }